<nav class="navbar" style="background-color: #ffffff; border-bottom: 1px solid #b4b4b4; height: 60px;" class="navbar navbar-expand-lg navbar-light navbar-main">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img class="navbar-logo" style="width: 120px;" src="./assets/corelia-logo.png">
      </a>
      <div style="margin-left: 4mm;" class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-text" (click)="navigateToExplore()">Explore</button>
      </div>
      <div class="navbar-menu-container">
        <img style="width: 35px;" src="./assets/bell.png">
        <span class="divider">|</span>
        <img style="width: 35px;" src="./assets/comments.png">
        <span class="divider">|</span>
        <div (click)="this.profileMenu = !this.profileMenu" class="circle">
          {{firstInitial}}{{lastInitial}}
        </div>
        @if(this.profileMenu){
          <div class="profile-menu">
            @if(isEditingProfile === false){
              <button (click)="goToProfile()">My profile</button>
            }
            @if(token.role !== 'company'){
              <button (click)="editProfile()">Edit Profile</button>
            }
            <button (click)="logout()">Logout</button>
          </div>
        }
        
      </div>
      
    </div>
    
  </nav>