<nav style="background-color: #ffffff;" class="navbar navbar-expand-lg navbar-light navbar-main">
    <div class="container-fluid">
      <a style="margin-left: 25mm;" class="navbar-brand" routerLink="">
        <img class="navbar-logo" src="./assets/corelia-logo.png">
      </a>
      <div style="margin-left: 13mm;" class="collapse navbar-collapse" id="navbarNav">
        <span class="navbar-text">Explore</span>
      </div>
      <div style="margin-right: 13mm;">
        <img src="./assets/bell.png">
        <span class="divider">|</span>
        <img src="./assets/comments.png">
        <span class="divider">|</span>
        <img class="img" style="width: 50px;" src="./assets/pfp-temp.png">
      </div>
      
    </div>
    
  </nav>