<nav class="navbar" style="background-color: #ffffff; border-bottom: 1px solid #b4b4b4; height: 60px;" class="navbar navbar-expand-lg navbar-light navbar-main">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">
        <img class="navbar-logo" style="width: 120px;" src="./assets/corelia-logo.png">
      </a>
      <div style="margin-left: 4mm;" class="collapse navbar-collapse" id="navbarNav">
        <button class="navbar-text" (click)="navigateToExplore()">Explore</button>
      </div>
      <div>
        <img style="width: 35px;" src="./assets/bell.png">
        <span class="divider">|</span>
        <img style="width: 35px;" src="./assets/comments.png">
        <span class="divider">|</span>
        <img class="img" style="width: 30px;" src="./assets/pfp-temp.png">
      </div>
      
    </div>
    
  </nav>