@if(!loading){
<div class="overflow-section">
    @for(i of users; track i){
        @if(i.Name){
            <div class="row justify-content-center">
                <div class="col-11">
                    <div (click)="navigateToCandidate(i.applicantId, i.techScore)" class="row row-section mt-3">
                        <span class="p-candidate-title">{{i.Name}}</span>
                        <p class="p-candidate-desc">{{i.totalScore}}%</p>
                    </div>
                </div>
            </div>
        }   
    } 
</div>
}
@if(loading){
    @for (i of loadingSkeletons; track i){
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="row row-section mt-3">
                    <p-skeleton height="2rem" styleClass="mb-2" />
                    <p-skeleton width="5rem" styleClass="mb-2" />
                </div>
            </div>
        </div>
    }
}