
<div class="signin-background">
    <app-navbar-sign-in-company></app-navbar-sign-in-company>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div style="margin-bottom: 30vh;" class="col-7">
                <p style="margin-top: 15vh;" class="p-desc"><img src="assets/check.png">Reach 2,000,000+ qualified candidates.</p>
                <p class="p-desc"><img src="assets/check.png">Easily post professionally written jobs.</p>
                <p class="p-desc"><img src="assets/check.png">Hire top talent faster and smarter.</p>
                <p class="p-desc"><img src="assets/check.png">Get personalized recruitment support.</p>
                <p class="p-desc-large mt-5">Join 25,000+ Companies Hiring Top Talent Through CORELIA</p>
                <img style="width: 150px;" class="img-thumbnail" src="./assets/logo-placeholder4.svg">
                <img style="width: 190px; margin-left: 10px;" class="img-thumbnail" src="./assets/logo-placeholder3.svg">
            </div>
            <div style="margin-bottom: 23vh;" class="col-5 col-signin">
                <div class="login-title mt-3">
                    <p style="font-size: 5.5mm;">Sign Up and Start Applying For Jobs</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <div class="form-group mt-2">
                                    <label style="font-weight: 500;">First Name</label>
                                    <input [(ngModel)]="fName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group mt-2">
                                    <label style="font-weight: 500;">Last Name</label>
                                    <input [(ngModel)]="lName"  type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label style="font-weight: 500;">Email</label>
                            <input type="email" [(ngModel)]="email" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <label style="font-weight: 500;">Password</label>
                            <input type="password" [(ngModel)]="password" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <label style="font-weight: 500;">Phone number</label>
                            <input (keydown.enter)="signUp()"  type="text" [(ngModel)]="number" class="form-control">
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="form-check mt-2">
                                <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <a class="mt-2" href="">Forgot Password?</a>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" (click)="signUp()">Sign Up</button>
                </div>
                <hr class="mt-1">
                <div class="login-title mt-1">
                    <p style="font-weight: 500;">Already have an account? <a href="" (click)="navigateToLogin()">Sign in</a></p>
                </div>
            </div>
            
        </div>
    </div>
    <p-toast />
    <app-error-component [errBody]="errBody" [errHead]="errHead"></app-error-component>
</div>
