.container-fluid{
    background-color: #f5f5f5;
    padding-left: 6vw;
    padding-right: 6vw;
}
.container{
    background-color: #f5f5f5;
}
.row-section{
    background-color: #ffff;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    border: 0.5px solid rgba(221, 221, 221, 0.39);
}
.p-warning{
    color: #968A8A;
}
.section-title{
    font-size: 5mm;
    font-weight: 600;
}
.section-header-small{
    color: #222222;
    font-weight: 600;
}
.small-section-title{
    font-weight: 600;
    color: #736C6C;
}
.btn-primary{
    background-color: #553D8E;
    padding: 10px;
    border-color: #553D8E;
    width: 150px;
}
.btn-secondary{
    background-color: #968A8A;
    padding: 15px;
    border-color: #968A8A;
    width: 200px;
}
.text-large{
    color: #736C6C;
    font-size: larger;
}
.selection-field{
    background-color: #f5f5f5;
    width: 400px;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: x-large;
    color: #736C6C;
}
.middle-text{
    justify-content: center;
    align-items: center;
    text-align: center;
}
:host ::ng-deep .p-badge-success { 
    background-color: #553d8e; 
}
.p-title-job{
    color: #553D8E;
    font-weight: 700;
    font-size: 5mm;
}
.p-title-job-desc{
    color: #736C6C;
    font-weight: 500;
    font-size: 5mm;
    margin-top: -10px;
}
.small-input-switch {

    .p-inputswitch {
      height: 1.2rem;
      width: 2.4rem;
      &.p-inputswitch-checked {
          .p-inputswitch-slider::before {
              transform: translateX(1rem);
          }
      }
  
      .p-inputswitch-slider::before {
          width: 0.9rem;
          height: 0.9rem;
          margin-top: -0.45rem;
      }
    }
  }