
<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="row row-section">
                <div class="col-3">
                    <p-skeleton height="6rem" shape="rounded" width="12rem" borderRadius="16px" styleClass="mt-1 p-1" />
                </div>
                <div class="col-9">
                    <p-skeleton height="1.3rem" shape="rounded" width="10rem" borderRadius="16px" styleClass="mt-1 p-1" />
                    <p-skeleton height="1.3rem" shape="rounded" width="25rem" borderRadius="16px" styleClass="mt-2 p-1" />
                    <p-skeleton height="1.3rem" shape="rounded" width="15rem" borderRadius="16px" styleClass="mt-2 p-1" />
                </div>
            </div>
            <div class="row row-section">
                <p-skeleton height="2.5rem" shape="rounded" width="12rem" borderRadius="16px" styleClass="mt-2 p-1" />
                    <div class="col-6">
                        <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                        <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                    </div>
                    <div class="col-6">
                        <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                        <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                    </div>
                    <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                    <p-skeleton height="1.3rem" shape="rounded" width="51rem" borderRadius="16px" styleClass="mt-4 p-1" />
                    <p-skeleton height="1.3rem" shape="rounded" width="51rem" borderRadius="16px" styleClass="mt-1 p-1" />
                    <p-skeleton height="1.3rem" shape="rounded" width="51rem" borderRadius="16px" styleClass="mt-1 p-1" />
            </div>
            <div class="row row-section">
                <p-skeleton height="3rem" shape="rounded" width="6rem" borderRadius="16px" styleClass="mt-2 p-1" />
                <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-1 p-1" />
                <p-skeleton height="1.3rem" shape="rounded" width="40rem" borderRadius="16px" styleClass="mt-2 p-1 mb-4" />
                <hr>
                <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-2 p-1" />
                <p-skeleton height="1.3rem" shape="rounded" width="20rem" borderRadius="16px" styleClass="mt-1 p-1" />
                <p-skeleton height="1.3rem" shape="rounded" width="40rem" borderRadius="16px" styleClass="mt-2 p-1 mb-4" />
            </div>
        </div>
        <div class="col-3">
            <div class="row ms-1 mt-4">
                <div class="col-12 mt-1">
                    <p-skeleton height="1.3rem" shape="rounded" width="12rem" borderRadius="16px" styleClass="ms-1" />
                </div>
                <div class="col-12">
                    <p-skeleton height="1.3rem" shape="rounded" width="8rem" borderRadius="16px" styleClass="ms-1 mt-2" />
                    <p-skeleton height="1.3rem" shape="rounded" width="8rem" borderRadius="16px" styleClass="ms-1 mt-2" />
                    <hr>
                </div>
            </div>
            <div class="row ms-1">
                
                <div class="col-12 mt-1">
                    <p-skeleton height="1.3rem" shape="rounded" width="15rem" borderRadius="16px" styleClass="ms-1" />
                </div>
                <div class="col-12">
                    <hr>
                </div>
            </div>
            <div class="row ms-1">
                <div class="col-12 mt-1">
                    <p-skeleton height="1.3rem" shape="rounded" width="15rem" borderRadius="16px" styleClass="ms-1" />
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 mt-3">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>