<app-navbar></app-navbar>
@if(loading){
    <app-profile-skeleton></app-profile-skeleton>
}
@if(!loading){
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="row row-section justify-content-between">
                    <div class="col-2 fade">
                        <img style="width: 150px;" src="./assets/pfp-default.png">
                    </div>
                    <div class="col-9 fade">
                        <p class="mt-3" style="font-size: x-large; font-weight: bold;">{{this.cv.Name}}</p>
                        <p style="color: #736C6C; font-weight: 400; font-weight: 600;">{{this.cv.Headline}}</p>
                        <p style="color: #736C6C; font-weight: 400;">{{this.cv.Address}}</p>
                    </div>
                </div>
                <div class="row row-section">
                    <div class="col-6 fade mt-2">
                        <p class="section-title fade">General Info:</p>
                        <p><span class="small-section-title">Skills:</span>
                            <ul>
                            @for(i of this.skillList; track i){
                                @if(i !== ''){
                                    <li>{{i}}</li>
                                }
                            }
                            </ul>
                    </div>
                    <div class="col-6 fade mt-2">
                        <p class="section-title">Contact Info:</p>
                        <p><img style="width: 40px;" src="./assets/Call.png"><span class="small-section-title">{{this.cv.Phones}}</span></p>
                        <p><img style="width: 40px;" src="./assets/Envelope.png"><span class="small-section-title">{{this.cv.Email}}</span></p>
                        <p><img style="width: 40px;" src="./assets/Download.png"> <button style="padding: 4px;" class="btn btn-primary">Download CV</button></p>
                    </div>
                </div>
                <div class="row row-section">
                    <p class="section-title fade">Education</p>
                    <div class="col-12 mb-2 fade">
                            @for(i of eduList; track i){
                                @if(i !== ''){
                                    <p>{{i}}</p>
                                    <hr>
                                }
                            }
                    </div>
                    
                
                   
                </div>
                <div class="row row-section">
                    <p class="section-title fade">Experience</p>
                    <div class="col-12 mb-2 fade">
                            @for(i of expList; track i){
                                @if(i !== ''){
                                    <p>{{i}}</p>
                                    <hr>
                                }
                            }
                    </div>
                    
                
                   
                </div>
                <div class="row row-section ">
                    <p class="section-title">Publications</p>
                    <div class="col-12 mb-2 fade">
                            <div class="col-9 mb-2 fade">
                                @for(i of pubList; track i){
                                    @if(i !== ''){
                                        <p>{{i}}</p>
                                        <hr>
                                    }
                                }
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row mt-4">
                    <div class="col-2">
                        <p-inputSwitch  />
                    </div>
                    
                    <div class="col-10 mt-1">
                        <span class="small-section-title">Public Profile</span>
                    </div>
                    <div class="col-12">
                        <p style="margin-left: 4px;">Here is your public profile link:</p>
                        <p style="margin-left: 4px; color: #553D8E;">corelia.ai/me/mohamedali</p>
                        <hr>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <p-inputSwitch  />
                    </div>
                    
                    <div class="col-10 mt-1">
                        <span class="small-section-title">Profile Visibility</span>
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <p-inputSwitch  />
                    </div>
                    
                    <div class="col-10 mt-1">
                        <span class="small-section-title">Available for immediate start</span>
                    </div>
                </div>
                <app-soft-skills-view [userObject]="userObject"></app-soft-skills-view>
            </div>
        </div>
    </div>
}

