<app-navbar></app-navbar>
<div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="row row-section">
                    
                    <div class="col-9">
                        <p class="mt-4" style="font-size: x-large; font-weight: bold;">{{title}}</p>
                        <h4><span class="badge bg-secondary">Full Time</span> <span style="margin-left: 10px;" class="badge bg-secondary">Remote</span></h4>
                        <p style="color: #736C6C; font-weight: 500;">Corelia -Paris, France </p>
                        <p style="color: #736C6C; font-weight: 400;">Posted 4 hours ago</p>
                        <p style="font-size: x-large; font-weight: bold;">220 <span style="font-weight: lighter;">Applicants open for 1 position</span></p>
                        <button class="btn btn-primary">Download Applicants</button>
                    </div>
                    <div class="col-3">
                        <img class="rounded mt-5" style="width: 200px;" src="./assets/corelia-logo.png">
                    </div>
                    
                </div>
                <div class="row row-section">
                        <p class="section-title">Job Details</p>
                        @for(i of det; track i){
                            <p>{{i}}</p>
                        }
                </div>
                <div class="row row-section">
                    <p class="section-title">Job Description</p>
                    @for(i of desc; track i){
                        <p>{{i}}</p>
                    }
            </div>
            <div class="row row-section">
                <p class="section-title">Job Requirement</p>
                @for(i of req; track i){
                    <p>{{i}}</p>
                }
        </div>
                <div class="row row-section">
                    <p class="section-title">Open vacancies at Corelia</p>
                    <p class="p-title-job mt-2">Senior PHP Laravel Developer</p>
                    <p class="p-title-job-desc">Google - Cairo, Egypt</p>
                    <p class="">Experienced (Non-Manager) · 5-8 Yrs of Exp · HTML · Information Technology (IT) · Design · CSS ·  Science · Development · Software Development · PHP · Software · JavaScript · 51 minutes ago
                    </p>
                    <hr>
                    <p class="section-title">Open vacancies at Corelia</p>
                    <p class="p-title-job mt-2">Senior PHP Laravel Developer</p>
                    <p class="p-title-job-desc">Google - Cairo, Egypt</p>
                    <p class="">Experienced (Non-Manager) · 5-8 Yrs of Exp · HTML · Information Technology (IT) · Design · CSS ·  Science · Development · Software Development · PHP · Software · JavaScript · 51 minutes ago
                    </p>
                </div>
            </div>
            <div class="col-3">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="row row-section mt-4">
                            <p style="color: #553D8E; font-weight: bold; font-size: x-large;">Mohamed ali</p>
                            <p>90%</p>
                            <p>29 minutes ago</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="row row-section mt-4">
                            <p style="color: #553D8E; font-weight: bold; font-size: x-large;">Ahmed Sayed</p>
                            <p>83%</p>
                            <p>59 minutes ago</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-11">
                        <div class="row row-section mt-4">
                            <p style="color: #553D8E; font-weight: bold; font-size: x-large;">Mohamed Ibrahim</p>
                            <p>56%</p>
                            <p>10 minutes ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
